/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@import url("//fonts.googleapis.com/css?family=Oxygen|Radley");
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 0.5rem;
  }
}

/* Portrait */
/* Landscape */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/** Headings (Font Family - Sans-Serif[Oxygen]) */
a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen', sans-serif;
}

h1 {
  color: #fff;
}

a {
  color: #ff7740;
}

a:hover {
  color: #3f5765;
}

li a {
  font-size: 1.5rem;
  text-decoration: none;
}

li a:hover {
  color: white;
  text-decoration: underline;
}

button {
  border-radius: 10rem;
  width: 10rem;
  margin-left: 1rem;
}

button:hover {
  color: #2b3a42;
  background-color: #fff;
}

#frame {
  width: 500px;
  margin: 125px auto auto auto;
  border: solid 1px #CCC;
  box-shadow: 0 0 10px #CCC;
  border-radius: 5px;
}

.search .header {
  margin: 25px;
  text-align: center;
}

.search .header .input {
  width: 350px;
}

#results-holder {
  min-height: 200px;
}

.loading {
  text-align: center;
  line-height: 30px;
  display: none;
}

/** Styling for the results list */
#results-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#results-list li {
  line-height: 30px;
  border-bottom: solid 1px #CCC;
  padding: 5px 5px 5px 10px;
  margin-left: 1rem;
  color: #fff;
}

#results-list li:last-child {
  border: none;
}

#results-list .no-results {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.frame {
  width: 600px;
  margin: auto;
  background-color: #CCC;
  padding: 10px;
}

.actions {
  padding: 10px;
  background-color: #333;
  text-align: center;
}

.slideMe {
  background-color: green;
  height: 150px;
  margin-top: 10px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
}

/** Text Align */
body, button, li {
  font-family: 'Radley', serif;
  background-color: #2b3a42;
  color: #fff;
}

li {
  list-style: none;
  color: #fff;
}

.container {
  margin: 0 auto;
}
