/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@import url("//fonts.googleapis.com/css?family=Oxygen|Radley");
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 0.5rem;
  }
}

/* Portrait */
/* Landscape */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/** Headings (Font Family - Sans-Serif[Oxygen]) */
a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen', sans-serif;
}

h1 {
  color: #fff;
}

a {
  color: #ff7740;
}

a:hover {
  color: #3f5765;
}

li a {
  font-size: 1.5rem;
  text-decoration: none;
}

li a:hover {
  color: white;
  text-decoration: underline;
}

button {
  border-radius: 10rem;
  width: 10rem;
  margin-left: 1rem;
}

button:hover {
  color: #2b3a42;
  background-color: #fff;
}

#frame {
  /** width: 500px */
  width: 95%;
  margin: 3% auto auto auto;
  border: solid 1px #CCC;
  box-shadow: 0 0 10px #CCC;
  border-radius: 5px;
}

.frameffect {
  width: 530px;
  height: 190px;
  margin: 50px auto auto auto;
  background-color: #333;
}

.frameffect .box {
  width: 125px;
  height: 125px;
  float: left;
  margin-right: 10px;
}

.frameffect .box:last-child {
  margin-right: 0;
}

.frameffect .actions {
  background-color: #bdd4de;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

.frameffect .actions button {
  height: 35px;
}

.search .header {
  margin: 25px;
  text-align: center;
}

.search .header .input {
  width: 350px;
}

#results-holder {
  min-height: 200px;
}

.loading {
  text-align: center;
  line-height: 30px;
  display: none;
}

/** Styling for the results list */
#results-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#results-list li {
  line-height: 30px;
  border-bottom: solid 1px #CCC;
  padding: 5px 5px 5px 10px;
  margin-left: 1rem;
  color: #fff;
}

#results-list li:last-child {
  border: none;
}

#results-list .no-results {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

/** Index 30 */
.suggest-input {
  position: relative;
  padding: 25px;
}

.suggest-input input {
  width: 100%;
}

.suggest-list {
  position: absolute;
  width: 40%;
  background-color: #CCC;
  margin: 0;
  left: 25px;
  top: 50px;
  z-index: 100;
  display: none;
  list-style: none;
  padding: 0.2%;
}

.one {
  background-color: #3f5765;
}

.two {
  background-color: #efefef;
}

.three {
  background-color: #ff530d;
}

.four {
  background-color: #fff;
}

/** Text Align */
body, button, li {
  font-family: 'Radley', serif;
  background-color: #2b3a42;
  color: #fff;
}

li {
  list-style: none;
  color: #fff;
}

.container {
  margin: 0 auto;
}
