/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
